@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Roboto Flex', sans-serif;

}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  font-family: 'Roboto Flex', sans-serif;

}

