/*======================
    404 page
=======================*/

.page_404 {
    padding: 40px 0;
    background: #fff;
    font-family: "Arvo", serif;
    text-align: center;
}

.page_404 img {
    width: 100%;
}

.four_zero_four_bg {
    background-image: url('../images/anime.gif');
    height: 400px;
    width: 100%;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
}

.four_zero_four_bg h1 {
    font-size: 80px;
}

.four_zero_four_bg h3 {
    font-size: 80px;
}

.link_404 {
    color: #fff !important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;
    text-decoration: none;
    border-radius: 20px;
    font-size: 25px;
}

.contentBox {
    margin-top: -50px;
    font-size: 20px;
}